Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [ ]:
email = input("Enter your email id: ")
at_position = email.index('@')
dot_position = email.index('.')
name = ''
for i in range(at_position+1, dot_position):
    name += email[i]
print(name)

In [ ]:
str = input("Enter comma separated integers: ")
print(str)

# conver to the list
list = str.split (",")
print("Sorted list: ", sorted(list))

Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [ ]:
states = {'Rajasthan', 'Gujarat', 'Maharashtra', 'Gujarat'}
states.add('Karnataka')
states.update(['Delhi', 'Kerla', 'Punjab'])
for i in states:
    print(i)
print('Delhi' in states)
states.remove('Delhi')
states.discard('Assam')
print(states)
states2 = {'Tamil Nadu', 'Bihar', 'Himalchal Pradesh'}
states.union(states2)
cities = set(('Mumbai', 'NYC', 'Kolkatta'))
print(cities)

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [10]:
input_list = input("Give your list")
l_final = input_list.split(' ')
l1 = [int(i) for i in l_final]
for i in range(1, len(l1) +2):
    if(l1.count(i)):
        continue
    else:
        print("The missing number is ", i)

Give your list1 2 4 6 3 7 8
The missing number is  5

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:12 24 35

In [11]:
input_list = input("Give your numbers: ")
l = input_list.split(' ')
l1 = [int(i) for i in l]
s = set(l1)
print(s)

Give your numbers: 12 32 43 32 54 234 43
{32, 234, 43, 12, 54}